.header{
    height: 677px;
    background-color: #2D25A0;
    display: flex;
    padding: 0px 300px 0px 300px;
    gap: 20px;
}
.header img {
  width: 556.01px;
  height: 438px;
  margin-top: 100px;
}
.text-title {
  font-weight: bold;
  font-size: 72px;
  line-height: 100px;
  color: #fff;
  margin-top: 200px;
  text-transform: uppercase;

}
.header button {
  height: 44px;
  color: #fff;
  font-weight: 500;
  font-size: 22px;
  /* padding: 20px 30px 40px 30px; */
  padding: 32px;
  background-color: #e02c6d;
  box-shadow: inset 0 0 0 0 #fff;
  transition: ease-in-out 1s;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;


}
.header button:hover{
    transition: ease-in-out 1s;
    background-color: white;
    color: black;
}

@media (max-width:688px) {
  .header{
    flex-direction: column-reverse;
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
     padding-bottom: 50px;
    overflow-x: hidden;
    padding-right: 0;
    margin-right: 0;
  }
  .text-title{
    font-size: 35px;
    margin: 0px;
    padding: 0;
    width: 300px;
    line-height: 60px;
    margin-left: 30px;
    text-align: center;
  }
  .header img{
    width: 95%;
    height: 80%;
   margin-left: 10px;
    /* margin-left: 20px; */
  }
  .header button{
    margin-left: 110px;
    margin-top: 30px;
    padding: 25px;
    font-size: 22px;;
  }
}


/* @media screen and (max-width:1200px) {
  .header{
    width: 100%;
  }
  
} */